<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" method="" action="">



                        <div class="form-group">
                            <label class="col-md-4 control-label" style="    font-weight: bolder;" required>Password</label> <span class="required">*</span>
                            <div class="col-md-6" style="    margin-top: 8px;">
                                <input type="password" style="width: 175px;" class="form-control" id="password" name="password" placeholder="Enter password" [(ngModel)]="account.password" #password="ngModel" minlength="8" maxlength="50" required>
                                <app-password-bar [password]="account.password">
                                </app-password-bar>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>